//normalize

html, head {
  min-height: 100vh;
}
body {
  position: relative;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

//general

* {
  font-family: 'Space Grotesk Medium', sans-serif;
}

body {
  background: $main;
}

#app {
  min-height: 100vh;
  height: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}


@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}


@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}


@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}

.title {
  font-family: 'Space Grotesk Bold', sans-serif;
  color: $dark;

  &_l {
    font-size: 56px;
  }

  &_m {
    font-size: 24px;
  }

  &_s {
    font-size: 20px;
  }

  &_xs {
    font-size: 16px;
  }

  &_light {
    color: $light;
  }
}

.text {
  font-family: 'Space Grotesk Medium', sans-serif;
  font-size: 16px;
  color: $dark;
  opacity: 0.66;
}

.btn {
  padding: 20px;
  display: flex;
  justify-content: center;
  background: $light;
  border: 3px solid $dark;
  box-shadow: 0px 10px 0px $dark;
  border-radius: 20px;
  font-family: 'Space Grotesk Bold', sans-serif;
  font-size: 24px;
  text-transform: uppercase;

  &:hover {
    border-color: $dark-main;
    box-shadow: 0px 10px 0px $dark-main;
  }

  &_center {
    justify-content: center;
  }

  &_icon {
    padding: 13px 20px;
    align-items: center;
    justify-content: space-between;
  }

  &_color-first {
    color: $light;
    background: $player-one;
  }

  &_color-second {
    background: $player-two;
  }
}

.btn-small {
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px;
  color: $light;
  text-transform: uppercase;
  background: $dark-main;
  border-radius: 20px;
  font-family: 'Space Grotesk Bold', sans-serif;
  font-size: 16px;

  &:hover {
    background: $player-one;
  }
}

.modal-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  width: 480px;
  background: $main;
  padding: 50px 40px;
  border: 3px solid #000000;
  box-shadow: 0px 10px 0px #000000;
  border-radius: 40px;

  &__title {
    margin-bottom: 44px;
  }

  &__btn {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}